.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 20px !important;
}

#dialog-form-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.tag-name {
  margin-left: 5px;
  display: inline-block;
  background-color: aqua;
  width: auto;
  height: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#share-to {
  display: flex;
  flex-direction: row;
}
