body {
  overflow: hidden;
}

.profile {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
  padding: 0 110px;
}

.profile-left {
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.profile-left-1 {
  width: 90%;
  height: 240px;
  background-color: #c0c0c0;
  margin: auto;
  margin-top: 40px;
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.profile-left-1-1 {
  width: 150px;
  height: 150px;
  margin: auto;
}
.profile-left-1-2 {
  margin: auto;
  padding-left: 10px;
  box-sizing: border-box;
}
.profile-left-1-2 {
  width: calc(100%-150px);
  height: calc(100%-150px);
}

.profile-left-1-2 h3 {
  margin: 10px 0 0 10px;
  font-size: 34px;
  user-select: none;
}
.profile-left-1-2 h5 {
  margin: 10px 0 0 10px;
  user-select: none;
}

.profile-left-2 {
  width: 90%;
  background-color: #c0c0c0;
  height: calc(100% - 40px - 300px);
  margin: auto;
  margin-top: 25px;
  border-radius: 7px;
  box-sizing: border-box;
  padding-top: 10px;
}

.profile-left-2-head {
  width: fit-content;
  height: auto;
  margin: auto;
  user-select: none;
}
.profile-left-2-head h3 {
  font-size: 34px;
}

.profile-activities {
  width: 90%;
  height: calc(100% - 70px);
  margin: auto;
  padding: 10px 0;
  overflow-y: auto;
  border-radius: 10px;
}

.profile-activity {
  width: 90%;
  height: 60px;
  background-color: #abcdef;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
}

.profile-activity h4 {
  margin-left: 20px;
  display: inline;
  user-select: none;
}

.profile-activity h5 {
  display: inline;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  user-select: none;
}

.profile-right {
  width: 70%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.profile-right > div {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto !important;
  margin-right: auto !important;
}
